<!DOCTYPE html>
<html lang = "en">
<head>
    <title>SMS</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="container" style="background-image: url('https://images.immediate.co.uk/production/volatile/sites/11/2019/08/eco-anxiety-c362992.jpg?webp=true&quality=90&resize=620%2C413');
    background-size: cover;">
        <div>
            <h1 style="color: black;">You'll receive a fake call from us in a few seconds!</h1>
            <h1 style="color: black;">Pretend its an emergency and get out of that uncofmortable situation ;)</h1>
        </div>
    </div> 