<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="container" style="background-image: url('https://images.immediate.co.uk/production/volatile/sites/11/2019/08/eco-anxiety-c362992.jpg?webp=true&quality=90&resize=620%2C413');
    background-size: cover;">
        <div class="center">
            <a href="./mapurl.html" class="cta">Send Current Location</a>
            <br>
            <a href="./call.html" class="cta">Fake Call Me</a>
            <br>
            <a href="./sms.html" class="cta">Get Chatbot Number</a>
        </div>
    </div> 
</body>
</html>