<!DOCTYPE html>
<html lang = "en">
<head>
    <title>SMS</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <div class="container" style="background-image: url('https://images.immediate.co.uk/production/volatile/sites/11/2019/08/eco-anxiety-c362992.jpg?webp=true&quality=90&resize=620%2C413');
    background-size: cover;">
        <div>
            <h1 style="color: black;">Some creepy person pestering you for your personal number?</h1>
            <h1 style="color: black;">Just share this number with them: +16205829065 and let our chatbot handle it for you!</h1>
        </div>
    </div> 
