.navbar
{
    width: 1200px;
    height: 55px;
    margin: auto;
}

.icon
{
    width: 200px;
    float: left;
    height: 50px;
}

.logo
{
    color: purple;
    font-size:xx-large;
    font-family:Verdana;
    float: left;
}

.menu
{
    width: 400px;
    height: 70px;
    float: right;
}

ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li 
{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}


ul li a
{
    text-decoration: none;
    color: purple;
    font-family: Verdana;
    font-weight: bold;
}

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0,4),rgba(0,0,0,0,4)),url('https://images.immediate.co.uk/production/volatile/sites/11/2019/08/eco-anxiety-c362992.jpg?webp=true&quality=90&resize=620%2C413');
    background-position: center;
    background-size: cover;
    position: absolute;

}

.form-box
{
    width: 380px;
    opacity: 90%;
    height: 480px;
    position: relative;
    margin: 11% auto;
    background: white;
    padding: 5px;
    overflow: hidden;
}


.button-box
{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background:transparent;
    border:0;
    outline: none;
    position:relative;
 
}

#btn{

    top:0;
    left:0;
    position: absolute;
    width:110px;
    height:100%;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border-radius: 30px;
    transition: .5s;

}

.input-group
{
    top: 110px;
    position: absolute;
    width: 260px;
    transition: 0.5s;
}

.input-field
{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{

    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    outline:none;
    border-radius: 30px;
}

#login{
    left: 65px;
}

#signup{
    left: 450px;
}



.cta {
    text-decoration: none;
	display: inline-block;
	padding: 10px 30px;
	color: black;
	background-color: rgb(248, 229, 229);
    opacity: 75%;
	border: 2px solid #f2dac3;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
    width:700px;
    height:50px;
    text-align:center;
}
.cta:hover {
	color: white;
	background-color: #f2dac3;
}

